/*----------------------------------
Box-sizing
------------------------------------*/

html{
    box-sizing: border-box;

}
*,*:before,:after{
    box-sizing: inherit;
}


/*----------------------------------
base
------------------------------------*/

body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color:#E5E5E5;
    font-size: 18px
}

a{
text-decoration: none;
}    

.wrapper{
max-width: 1000px;
margin: 0 auto;
}

/*----------------------------------
Modules
------------------------------------*/

/*header*/

header{
background-color: #FFFFFF;
padding-top: 20px;

}


header div{
display: flex;
justify-content: space-between;
align-items: center;
        
}


.logo{
display: flex;
align-items: center;
}

header img{
margin-right: 20px;
    
}

header h1{
font-size: 43px;
font-weight: 700;
color: #000000;
font-family: 'Dosis', sans-serif;
}

.boite{
color: white;
padding: 20px;
background-color: rgba(0, 0, 0, 0.7);
border-radius: 10px;
align-items: center;

}

.boite p {
color: #2fcb48;
font-size: 20px;
text-align: center;

}

/*-------Navigation-------*/

header ul{
display: flex;
justify-content: flex-end;
gap: 20px;
margin: 0;
list-style-type: none;
}

ul.menu{
padding-left: 0px;
}

nav a{
color :#000000;
border-radius: 5px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-family: 'Dosis', sans-serif;
}

nav a:hover{
background-color:#0E5EA1;
color: white;
}

/*hero*/

.hero{
background-image: url(../images/montagnes.jpg);
background-repeat: no-repeat;
background-position: 0 100%;
background-size: cover;
margin-bottom: 40px;
}

.hero .wrapper{
height: 450px;
display: flex;
justify-content: center;
align-items: center;
}

h2{
display: flex;
justify-content: center;
margin-bottom: 10px;
margin-top: 10px;
}

.hero p{
text-align: center;
margin-bottom: 0px;
margin-top: 0px;
font-size: 20px;
}

.hero h2{
font-family: 'Dosis', sans-serif;
font-size: 36px;
}   

/*Section de contenu*/

.infos{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
margin-bottom: 40px;
}

article{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 10px;
border-bottom-color: #0E5EA1;
border-bottom-width: 10px;
border-bottom-style: solid;
background-color: white;
}

article h3{
font-family: 'Dosis', sans-serif;

}   

article p {
font-family: 'Roboto', sans-serif;
font-size: 16px;
} 


.boite-bouton{
display: flex;
justify-content: center;

}

.boutton{
background-color: #b7b7b7;
padding: 15px 45px;
border-radius: 5px;
color: #000000;
font-family: 'Dosis', sans-serif;
}

.boutton:hover{
background-color: #0E5EA1;
color: white;

}

.boutton a{
color: black;
justify-content: center;

}


/*Footer*/

footer{
 margin-top: 40px;   
 background-color: #000000; 
 color: white;  
 text-align: center;
 padding-top: 3px;
 padding-bottom: 3px;
}

footer p{
font-family: 'Roboto', sans-serif;
font-size: 16px;
}

/*align itself pour bouton darticle
font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif;
*/